<main>
    {{!-- -------------------------Навигация------------------------- --}}

    {{!-- горизонтальное меню
    <div class="nav">
        <div class="nav-item">
            <a href="#" class="nav-link">Link1</a>
        </div>
    </div> --}}


    <div class="row g-4">
        <div class="col-12">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="/bootstrap2" class="nav-link">Shop</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link active">Catalog</a>
                </div>

                <div class="nav-item">
                    <a href="/shophome" class="nav-link">shophome</a>
                </div>
                <div class="nav-item">
                    <a href="/skills" class="nav-link">About us</a>
                </div>

            </div>

        </div>

        <div class="col-3">
            <div class="card p-2">
                <div class="">
                    <div class="nav flex-column">
                        <div class="nav-item my-1">
                            <div class="card">
                                <a href="#" class="nav-link">Main</a>
                            </div>
                        </div>
                        <div class="nav-item my-1">
                            <div class="card">
                                <a href="#" class="nav-link active">Bootstrap</a>
                            </div>
                        </div>

                        <div class="nav-item my-1">
                            <div class="card">
                                <a href="#" class="nav-link">FAQ</a>
                            </div>
                        </div>
                        <div class="nav-item my-1">
                            <div class="card">
                                <a href="/work" class="nav-link">About us</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="row">

                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#"> PC</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#"> Notebook</a>
                        </li>
                        <li class="breadcrumb-item">
                            Laptop
                        </li>
                    </ol>
                </div>

                <div class="col-12">
                    <button class="btn btn-outline-dark my-2 me-3 ms-0">Click me</button>
                    <button class="btn btn-outline-dark my-2 me-3 ms-0">Do it again</button>
                    <button class="btn btn-outline-dark my-2 me-3 ms-0">Done</button>
                    <div class="alert alert-dark">
                        <h5 class="mb-0">Hello World! <span class="badge text-bg-danger text-light text-uppercase">Топ
                                продаж!</span>
                        </h5>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>