<main>
    <div class="row g-5">

        <div>
            <label class="form-label">Email address</label>
            <input type="email" class="form-control">
            <div class="form-text text-danger"> Error. You need to set correct email/</div>
        </div>
        <div>
            <label class="form-label">Email address</label>
            <input type="email" disabled class="form-control">
            <div class="form-text text-danger"> Error. You need to set correct email/</div>
        </div>
        <div>
            <label class="form-label">Email address</label>
            <div class="row">
                <div class="col-3">
                    <input type="color" required class="form-control">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-outline-success">Click it</button>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-outline-success">Click it</button>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-outline-success">Click it</button>
                </div>

            </div>
            <div class="form-text text-danger"> Error. You need to set correct email/</div>
        </div>
        <div class="row mt-5">
            <button class="btn btn-outline-success">Click it </button>
        </div>
        <hr>
        <div>
            <label class="form-label">Email address</label>
            <input type="email" class="form-control form-control-lg">
            <div class="form-text text-danger"> form-control-lg</div>
        </div>
        <div>
            <label class="form-label">Email address</label>
            <input type="email" class="form-control">
            <div class="form-text text-danger"> normal</div>
        </div>
        <div>
            <label class="form-label">Email address</label>
            <input type="email" class="form-control form-control-sm">
            <div class="form-text text-danger"> form-control-sm</div>
        </div>
        <hr>
        <div>
            <label class="form-label">Select role</label>
            <select type="text" class="form-select form-select-sm">
                <option value="1">Agmin</option>
                <option value="2">User</option>
                <option selected value="3">Guest</option>
            </select>
            <div class="form-text text-danger">Это маленький размер - form-select-sm</div>
        </div>
        <hr>


        <div class="col-3">
            <div>
                <label class="form-label">type="checkbox"</label>
                <div class="form-check">
                    <input id="1" name="food" value="apple" type="checkbox" class="form-check-input">
                    <label for="1" class="form-check-label">Apple</label>
                </div>
                <div class="form-check">
                    <input id="2" name="food" value="bread" type="checkbox" class="form-check-input">
                    <label for="2" class="form-check-label">Bread</label>
                </div>
                <div>
                    <input id="3" name="food" value="meat" type="checkbox" class="form-check-input">
                    <label for="3" class="form-check-label">Meat</label>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div>
                <label class="form-label">type="radio</label>
                <div class="form-check">
                    <input id="1" name="food" value="apple" type="radio" class="form-check-input">
                    <label for="1" class="form-check-label">Apple</label>
                </div>
                <div class="form-check">
                    <input id="2" name="food" value="bread" type="radio" class="form-check-input">
                    <label for="2" class="form-check-label">Bread</label>
                </div>
                <div>
                    <input id="3" name="food" value="meat" type="radio" class="form-check-input">
                    <label for="3" class="form-check-label">Meat</label>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div>
                <label class="form-label">Выбор из 2х -> </label>
                <div class="form-check">
                    <input id="1" name="food" value="apple" type="radio" class="form-check-input">
                    <label for="1" class="form-check-label">Да</label>
                </div>
                <div class="form-check">
                    <input id="2" name="food" value="bread" type="radio" class="form-check-input">
                    <label for="2" class="form-check-label">Нет</label>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div>
                <label class="form-label">Экономим место</label>
                <div class="form-check form-switch">
                    <label for="1" class="form-check-label"> Нет или Да</label>
                    <input id="1" name="food" value="apple" type="checkbox" class="form-check-input">
                </div>
            </div>
        </div>

    </div>

    {{!-- -----------------------------------------Иконки----------------------------------------------- --}}

    <br>
    <hr>
    <br>

    <i class="bi bi-emoji-sunglasses"></i>

    <h1> <i class="bi bi-emoji-sunglasses"></i> Icons</h1>
    <h3> <i class="bi bi-emoji-sunglasses"></i> Icons</h2>
        <div class="display-1"> <i class="bi bi-emoji-sunglasses"></i> Icons</div>

        <button class="btn btn-warning"><i class="bi bi-emoji-sunglasses"></i> Hi!</button>
        <button class="btn btn-dark"><i class="bi bi-emoji-sunglasses"></i> Hi!</button>
        <button class="btn btn-light"><i class="bi bi-emoji-sunglasses"></i> Hi!</button>
        <button class="btn btn-outline-primary"><i class="bi bi-emoji-sunglasses"></i> Hi!</button>
        <button class="btn btn-outline-dark"><i class="bi bi-emoji-sunglasses"></i> Hi!</button>

        <br>
        <br>
        {{!-- -------------------Иконка рядом с инпутом------------------------ --}}
        <div class="input-group">
            <span class="input-group-text">
                <img src="/svg/desktop.svg" width="20px" alt="">
            </span>
            <input type="text" class="form-control">
            <div class="form-text text-danger"> Error. You need to set correct words!</div>
        </div>
        <br>
        <hr>
        <br>
        <h3>Awesome <i class="fa-brands fa-shopify fa-beat fa-lg" style="color: #2f9504;"></i></h3>

        <div>
            <h1>Test <i class="fa-brands fa-shopify fa-2xl" style="color: #257005;"></i></h1>
        </div>
        <div>
            <h3>SVG <img src="/svg/rocket.svg" alt="icon" </h3>
        </div>
        <div>

        </div>

        <p>Test in paragraph <img src="/svg/rocket.svg" alt="icon"></p>

        <div>

        </div>



</main>