<main>
    <div class="row gy-2 gx-1">
        <section class="col-12">
            <div class="card text-bg-dark">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Notebook">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Ноутбук Lenovo Yoga 7 <br> 14ACN6 (82N7009QRA) Slate Grey AMD
                    </h5>
                    <p> Готов к отправке</p>
                    <a href="/work" class="btn btn-primary">Buy now!</a>
                </div>
            </div>
        </section>

        <section class="col-3">
            <div class="card  text-bg-primary">
                <div class="card-header">
                    <div class="card-title">Menu</div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/bio"> Bio </a></li>
                    <li class="list-group-item"><a href="/skills"> Skills </a> </li>
                    <li class="list-group-item"><a href="/edu"> Education </a></li>
                    <li class="list-group-item"><a href="/person"> Person </a></li>
                    <li class="list-group-item"><a href="/summary"> Summary </a></li>
                    <li class="list-group-item"><a href="/web"> Web </a></li>
                    <li class="list-group-item"><a href="/work"> Work </a></li>
                </ul>

                <div class="card-footer">
                    <button class="btn btn-outline-light btn-sm"> Update list </button>
                </div>

            </div>
        </section>

        <section class="col-9">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            id
                        </th>
                        <th>
                            name
                        </th>
                        <th>
                            age
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>1</td>
                        <td>John</td>
                        <td>42</td>
                    </tr>
                    <tr>
                        <th>2</td>
                        <td>Paul</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>3</td>
                        <td>Samanta</td>
                        <td>61</td>
                    </tr>
                    <tr>
                        <th>4</td>
                        <td>Sam</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <th>5</td>
                        <td>Vasyl</td>
                        <td>21</td>
                    </tr>
                </tbody>

            </table>
        </section>

        <section class="col-12">
            <div class="row g-1">
                <div class="col-3">
                    <div class="card text-bg-warning">
                        <div class="card-header text-center">
                            Title
                        </div>
                        <div class="card-body text-center">
                            <div class="card-title">Article about universe</div>
                            <p>
                                This is content of our box. <br>
                                It's much better now.</p>

                            <button type="button" class="btn btn-light">Click me!</button>
                        </div>
                        <div class="card-footer text-center">
                            End of card
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card text-bg-warning">
                        <div class="card-header text-center">
                            Title
                        </div>
                        <div class="card-body text-center">
                            <div class="card-title">Article about universe</div>
                            <p>
                                This is content of our box. <br>
                                It's much better now.</p>

                            <button type="button" class="btn btn-light">Click me!</button>
                        </div>
                        <div class="card-footer text-center">
                            End of card
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card text-bg-warning">
                        <div class="card-header text-center">
                            Title
                        </div>
                        <div class="card-body text-center">
                            <div class="card-title">Article about universe</div>
                            <p>
                                This is content of our box. <br>
                                It's much better now.</p>

                            <button type="button" class="btn btn-light">Click me!</button>
                        </div>
                        <div class="card-footer text-center">
                            End of card
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card text-bg-warning">
                        <div class="card-header text-center">
                            Title
                        </div>
                        <div class="card-body text-center">
                            <div class="card-title">Article about universe</div>
                            <p>
                                This is content of our box. <br>
                                It's much better now.</p>

                            <button type="button" class="btn btn-light">Click me!</button>
                        </div>
                        <div class="card-footer text-center">
                            End of card
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card text-bg-warning">
                        <div class="card-header text-center">
                            Title
                        </div>
                        <div class="card-body text-center">
                            <div class="card-title">Article about universe</div>
                            <p>
                                This is content of our box. <br>
                                It's much better now.</p>

                            <button type="button" class="btn btn-light">Click me!</button>
                        </div>
                        <div class="card-footer text-center">
                            End of card
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card text-bg-warning">
                        <div class="card-header text-center">
                            Title
                        </div>
                        <div class="card-body text-center">
                            <div class="card-title">Article about universe</div>
                            <p>
                                This is content of our box. <br>
                                It's much better now.</p>

                            <button type="button" class="btn btn-light">Click me!</button>
                        </div>
                        <div class="card-footer text-center">
                            End of card
                        </div>
                    </div>
                </div>

            </div>

        </section>


        <section class="col-6">
            <div class="card text-bg-secondary">
                <div class="card-header text-center">
                    Title
                </div>
                <div class="card-body text-center">
                    <div class="card-title">Article about universe</div>
                    <p>
                        This is content of our box. <br>
                        It's much better now.</p>

                    <button type="button" class="btn btn-light">Click me!</button>
                </div>
                <div class="card-footer text-center">
                    End of card
                </div>
            </div>
        </section>

    </div>
</main>