<h1 class="text-muted">Hello World!</h1>
<h2>Hello World!</h2>
<h3>Hello World!</h3>
<h4>Hello World!</h4>
<h5>Hello World!</h5>
<h6>Hello World!</h6>
<hr>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum recusandae sed ratione consectetur nisi, ipsam nobis
    corrupti voluptatibus quasi libero inventore nesciunt odio, explicabo officiis. Perspiciatis error illum eos!
    Consequuntur, nam? Aliquam adipisci, aliquid sit nesciunt at impedit ipsa explicabo excepturi eos, expedita est
    porro vel odit voluptatem animi consequatur.
</div>
<div class="display-1">Hello World!</div>
<div class="display-2">Hello World!</div>
<div class="display-3">Hello World!</div>
<div class="display-4">Hello World!</div>
<div class="display-5">Hello World!</div>
<div class="display-6">Hello World!</div>
<hr>
<div>class="text-muted"</div>
<div class="text-muted">Lorem ipsum dolor sit, amet </div>
<div>Заголовок 6 text-muted выглядит так:</div>
<div class="display-6 text-muted">Заголовок 6</div>
<div>Обычный Заголовок 6 выглядит так:</div>
<div class="display-6">Заголовок 6</div>
<hr>
<div>
    Выравнивание: <br>
    text-center and text-end
</div>
<div class="display-1 text-center">Hello World!</div>
<div class="display-2">Hello World!</div>
<div class="display-3 text-end">Hello World!</div> {{!-- Выравнивание по правому краю --}}
<div class="display-4">Hello World!</div>
<div class="display-5">Hello World!</div>
<div class="display-6">Hello World!</div>
<div class="text-end text-muted">Дополнительный, второстепенный <span class="display-6"> текст</span></div>
<hr>
<div>
    text-uppercase - все заглавные буквы <br>
    text-lowercase - все строчные буквы <br>
    text-capitalize - каждое слово с большой буквы<br>
    Примеры:
</div>
<div class="text-uppercase">hello world!</div>
<div class="text-lowercase">HELLO WORLD!</div>
<div class="text-capitalize">hello world!</div>
<hr>
<div class="display-6">Кнопки:</div>
<br>
<button class="btn btn-warning"> Текст на кнопке</button>
<br>
<form action="#">
    <input type="email" class="text-primary">
    <input type="submit" class="btn btn-danger">
</form>
<br>
<hr>
<div>Typography color</div>
<p class="text-primary">My text </p>
<p class="text-muted">My text muted</p>
<p class="text-secondary">My text secondary</p>
<hr>
<button class="btn btn-outline-primary">My button </button>
<hr>
<div>Sizes of buttons btn-lg and btn-sm</div>
<button class="btn btn-outline-primary">Обычная </button>
<button class="btn btn-outline-primary btn-lg">Большая </button>
<button class="btn btn-outline-primary btn-sm">Мелкая </button>
<hr>
<div>Block or Box - card or card-body</div>
<div class="card">
    <div class="card-body">
        This is content <br>
        Это отлично подходит для размещения кнопок
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <button class="btn btn-success">Оплатить </button>
        <button class="btn btn-outline-primary">Корзина </button>
        <button class="btn btn-outline-danger">Удалить </button>
    </div>
</div>
<br>