{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}


<main>
    <section class="px-5">
        <div class="display-4 mb-4">Притча</div>
        <p>Старий та молодий ченці мандрували. Шлях їх перетинала ріка, яка через дощі сильно розлилась.
            На березі стояла молода красива дівчина, якій також потрібно було перебратися на протилежний берег. Але вона
            не могла сама перейти річку. Дівчина попросила допомоги в ченців. Однак обітниця суворо забороняла ченцям
            навіть торкатися до жінок. Молодий чернець демонстративно відвернувся. А старий підійшов до дівчини, посадив
            її на спину та переніс через річку.</p>
        <p>Багато часу ченці шли мовчки. Раптом, молодий не втримався: <br>
            — Як ти міг торкнутися до дівчини!? Ти ж давав обітницю не торкатися жінок! Це – страшенний гріх!</p>
        <p class="mb-0">На що старий спокійно відповів: <br>
            — Дивно, я переніс її та залишив на березі річки, а ти досі її несеш. </p>
    </section>

    <hr class="my-5">

    <section>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <div class="display-6 text-center">Resume</div>
                    </div>
                    <div class="card-body">
                        <div class="nav flex-column">
                            <div class="nav-item mb-3"><a href="/summary"
                                    class="nav-link btn btn-outline-primary">Summary</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/skills"
                                    class="nav-link btn btn-outline-primary">Skills</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/edu"
                                    class="nav-link btn btn-outline-primary">Education</a>
                            </div>
                            <div class="nav-item"><a href="/work" class="nav-link btn btn-outline-primary">Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <div class="display-6 text-center">Shop</div>
                    </div>
                    <div class="card-body">
                        <div class="nav flex-column">
                            <div class="nav-item mb-3"><a href="/shophome"
                                    class="nav-link btn btn-outline-warning">Shophome</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/shopcatalog"
                                    class="nav-link btn btn-outline-warning">Shopcatalog</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/shopproduct"
                                    class="nav-link btn btn-outline-warning">Shopproducts</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/shopnews"
                                    class="nav-link btn btn-outline-warning">Shopnews</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/shoporder"
                                    class="nav-link btn btn-outline-warning">Shoporder</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/shopcart"
                                    class="nav-link btn btn-outline-warning">Shopcart</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/shopprofile"
                                    class="nav-link btn btn-outline-warning">Shopprofile</a>
                            </div>
                            <div class="nav-item"><a href="/shopreview"
                                    class="nav-link btn btn-outline-warning">Shopreview</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <div class="display-6 text-center">Other</div>
                    </div>
                    <div class="card-body">
                        <div class="nav flex-column">
                            <div class="nav-item mb-3"><a href="/bio" class="nav-link btn btn-outline-dark">Bio</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/car" class="nav-link btn btn-outline-dark">Car</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/facebook"
                                    class="nav-link btn btn-outline-dark">Facebook</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/js" class="nav-link btn btn-outline-dark">JS</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/mac" class="nav-link btn btn-outline-dark">Mac</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/person"
                                    class="nav-link btn btn-outline-dark">Person</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/program"
                                    class="nav-link btn btn-outline-dark">Program</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/task21"
                                    class="nav-link btn btn-outline-dark">Task21</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/task22"
                                    class="nav-link btn btn-outline-dark">Task22</a>
                            </div>
                            <div class="nav-item mb-3"><a href="/task31"
                                    class="nav-link btn btn-outline-dark">Task31</a>
                            </div>
                            <div class="nav-item"><a href="/web" class="nav-link btn btn-outline-dark">Web</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="my-5">

    <section>
        <div class="card">
            <div class="card-header">
                <div class="display-6 text-center">Bootstrap lessons</div>
            </div>
            <div class="card-body text-center">
                <a href="/bootstrap1" class="btn btn-outline-secondary me-2">Bootstrap1</a>
                <a href="/bootstrap2" class="btn btn-outline-secondary me-2">Bootstrap2</a>
                <a href="/bootstrap3" class="btn btn-outline-secondary me-2" title="">Bootstrap3</a>
                <a href="/bootstrap4" class="btn btn-outline-secondary me-2" title="">Bootstrap4</a>
                <a href="/bootstrap5" class="btn btn-outline-secondary" title="">Bootstrap5</a>
            </div>
        </div>


    </section>














</main>





{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}