<div class="mb-5">
    {{#with navigation}}
    <div class="card mb-5">
        <div class="row">
            <div class="col-4">
                <div class="display-6 ms-2 mb-2">{{Logo}}</div>
            </div>

            <div class="col-8">
                <ul class="nav justify-content-end">
                    {{#each links}}
                    <li class="nav-item mt-2">
                        <a href="{{href}}" {{#unless @last}} class="nav-link" {{else}} class="nav-link disabled"
                            {{/unless}}>
                            {{text}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{/with}}
</div>