<div class="col-4 mb-4">
    <div class="card">
        <img src="{{image}}" alt="photo" class="card-img-top">
        <div class="card-body">
            <div class="card-title">
                <b>{{title}}</b>
                {{#if isHot}}
                <span class="badge rounded-pill text-bg-warning text-uppercase">Hot!</span>
                {{/if}}
                {{#if idNew}}
                <span class="badge rounded-pill text-bg-primary">New!</span>
                {{/if}}
            </div>
            <div>
                {{description}}
            </div>
        </div>
    </div>
</div>